.homePage {
    background-image: url('https://0225.ru/uploads/posts/2019-05/1556693223_3-topora.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh; /* Устанавливаем высоту контейнера равной высоте окна браузера */
    display: flex; /* Разрешаем элементу растягиваться на всю высоту */
    justify-content: center; /* Выравниваем дочерние элементы по центру по горизонтали */
    align-items: center; /* Выравниваем дочерние элементы по центру по вертикали */
  }

  
  
  
  